@import "variables.less";

.container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  box-sizing: border-box;
}

.container-column {
  .container();
  flex-direction: column;
}

.container-centered {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-space-between {
  .container-centered();
  justify-content: space-between;
}

.container-end {
  .container-centered();
  justify-content: end;
}

.container-column-first-grows {
  .container-column();
  height: 100%;

  & > :first-child {
    height: 100%;
  }
}

.container-scrollable {
  .container-centered();
  height: @app-scrollable-height;
  overflow: auto;
}

.icon-button {
  width: @app-icon-size-small;
  color: @secondary-color;
  margin-right: 60px;
  transition: 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    color: @highlight-color-light;
  }
}

.button-normal {
  background: none !important;
}
