<ng-container *transloco="let t">
  <div class="dialog-container">

    <h2>{{ city!.name }}</h2>

    <div class="container-column">
      <div class="container-space-between">
        <div class="container-column">
          <h5>{{ t('cities-table.country') }}</h5>
          <p>{{ city!.country }}</p>
        </div>
        <div class="container-column">
          <h5>{{ t('cities-table.region') }}</h5>
          <p>{{ city!.region }}</p>
        </div>
      </div>
      <div class="container-space-between">
        <div class="container-column">
          <h5>{{ t('cities-table.population') }}</h5>
          <p>{{ city!.population }}</p>
        </div>
        <div class="container-column">
          <h5>{{ t('cities-table.foundation-date') }}</h5>
          <p>
            {{
              city.dateOfFoundation
                ? (city.dateOfFoundation | date:'dd-MM-yyyy')
                : '-'
            }}
          </p>
        </div>
      </div>
      <div class="container-space-between">
        <div class="container-column">
          <h5>{{ t('cities-table.longitude') }}</h5>
          <p>{{ city!.longitude }}</p>
        </div>
        <div class="container-column">
          <h5>{{ t('cities-table.latitude') }}</h5>
          <p>{{ city!.latitude }}</p>
        </div>
      </div>
    </div>

    <button
      [size]="'m'"
      appearance="outline"
      tuiButton
      (click)="closeDialog()"
    >
      {{ t('actions.close') }}
    </button>
  </div>
</ng-container>
