<ng-container *transloco="let t">
  <div class="container-scrollable">
    @if (isLoading()) {
      <tui-loader/>
    } @else if (countries().length > 0) {
      <table
        tuiTable
        [size]="'m'"
      >
        <thead>
        <tr>
          <th tuiTh>
            {{ t('countries-table.id') }}
          </th>
          <th tuiTh>
            {{ t('countries-table.name') }}
          </th>
          <th tuiTh>
            {{ t('countries-table.code') }}
          </th>
          <th tuiTh>
            {{ t('countries-table.currencies') }}
          </th>
        </tr>
        </thead>
        <tbody tuiTbody>
          @for (country of countries(); track country.wikiDataId) {
            <tr>
              <td
                class="container-space-between"
                tuiTd
              >
                <span>{{ country.wikiDataId }}</span>
                <a>
                  <tui-icon
                    class="icon-button"
                    icon="@tui.external-link"
                    [routerLink]="'/cities'"
                    [queryParams]="{ country: country.wikiDataId, lang: this.langService.language() }"
                  />
                </a>
              </td>
              <td tuiTd>
                {{ country.name }}
              </td>
              <td tuiTd>
                {{ country.code }}
              </td>
              <td tuiTd>
                {{ country.currencyCodes.join(', ') }}
              </td>
            </tr>
          }
        </tbody>
      </table>
    } @else if (0 === countries().length && '' !== this.searchParameters()) {
      <p>{{ t('search.countries.not-found') }}</p>
    } @else {
      <tui-loader/>
    }
  </div>
</ng-container>
