<table
  tuiTable
  [size]="'m'"
  [style.width.rem]="58"
>
  <thead>
  <tr>
    <th tuiTh
        [style.width]="'120px'"
        [style.padding-left]="0"
    >ID страны
    </th>
    <th tuiTh
        [style.width]="'60px'"
        [style.padding-left]="0"
    ></th>
    <th tuiTh
        [style.width]="'150px'"
        [style.padding-left]="0"
    >Наименование
    </th>
    <th tuiTh
        [style.width]="'100px'"
        [style.padding-left]="0"
    >Код страны
    </th>
    <th tuiTh
        [style.width]="'100px'"
        [style.padding-left]="0"
    >Коды валют
    </th>
  </tr>
  </thead>
  <tbody tuiTbody>
    @for (country of countries(); track country.wikiDataId) {
      <tr>
        <td tuiTd
            [style.padding]="0"
        >
          {{ country.wikiDataId }}
        </td>
        <td tuiTd
            [style.padding]="0"
        >
          <a>
            <tui-icon
              icon="@tui.external-link"
              [style.color]="'#6a6c7e'"
              [style.width]="'15px'"
              [routerLink]="'/cities'"
              [queryParams]="{ name: country.name, wikiId: country.wikiDataId }"
            />
          </a>
        </td>
        <td tuiTd
            [style.padding]="0"
        >
          {{ country.name }}
        </td>
        <td tuiTd
            [style.padding]="0"
        >
          {{ country.code }}
        </td>
        <td tuiTd
            [style.padding]="0"
        >
          {{ country.currencyCodes.join(', ') }}
        </td>
      </tr>
    }
  </tbody>
</table>
