<table
  tuiTable
  [size]="'m'"
  [style.width.rem]="58"
>
  <thead>
  <tr>
    <th tuiTh
        [style.width]="'200px'"
    >ID страны
    </th>
    <th tuiTh
        [style.width]="'250px'"
    >Наименование
    </th>
    <th tuiTh
        [style.width]="'150px'"
    >Код страны
    </th>
    <th tuiTh
        [style.width]="'150px'"
    >Коды валют
    </th>
  </tr>
  </thead>
  <tbody tuiTbody>
    @for (country of countries(); track country) {
      <tr>
        <td tuiTd>
          {{ country.wikiDataId }}
        </td>
        <td tuiTd>
          {{ country.name }}
        </td>
        <td tuiTd>
          {{ country.code }}
        </td>
        <td tuiTd>
          {{ country.currencyCodes.join(', ') }}
        </td>
      </tr>
    }
  </tbody>
</table>
