<ng-container *transloco="let t">
  <div class="container-scrollable">
    @if (isLoading()) {
      <tui-loader/>
    } @else if (cities().length > 0) {
      <table
        tuiTable
        [size]="'m'"
      >
        <thead>
        <tr>
          <th tuiTh>
            {{ t('cities-table.country') }}
          </th>
          <th tuiTh>
            {{ t('cities-table.name') }}
          </th>
          <th tuiTh>
            {{ t('cities-table.region') }}
          </th>
          <th tuiTh>
            {{ t('cities-table.population') }}
          </th>
          <th tuiTh></th>
        </tr>
        </thead>
        <tbody tuiTbody>
          @for (city of cities(); track city.id) {
            <tr>
              <td tuiTd>
                {{ city.country }}
              </td>
              <td tuiTd>
                {{ city.name }}
              </td>
              <td tuiTd>
                {{ city.region }}
              </td>
              <td tuiTd>
                {{ city.population }}
              </td>
              <td
                class="container-end"
                tuiTd
              >
                <button
                  class="button-normal"
                  tuiButton
                  type="button"
                >
                  <tui-icon
                    class="icon-button"
                    icon="@tui.pencil-line"
                  />
                </button>
                <button
                  class="button-normal"
                  tuiButton
                  type="button"
                >
                  <tui-icon
                    class="icon-button"
                    icon="@tui.eye"
                  />
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    } @else if (0 === cities().length && '' !== this.searchParameters()) {
      <p>{{ t('search.cities.not-found') }}</p>
    } @else if (0 === cities().length) {
      <p>{{ t('search.cities.no-info') }}</p>
    } @else {
      <tui-loader/>
    }
  </div>
</ng-container>
