<div>
  <tui-textfield tuiChevron
                 tuiTextfieldSize="s"
                 [style.width]="'250px'"
  >
    <input
      #inputRef
      placeholder="Введите страну..."
      tuiComboBox
      [formControl]="countryDropdown"
      (input)="onDropdownInputChange($any($event.target).value)"
    />

    <tui-data-list-wrapper
      *tuiTextfieldDropdown
      new
      [emptyContent]="null === countries ? 'Идёт поиск...' : 'Ничего не найдено'"
      [items]="null === countries ? null : Array.from(countries.keys())"
    />
  </tui-textfield>

  <tui-textfield
    #s
    iconStart="@tui.search"
    tuiTextfieldSize="s"
    [style.width]="'225px'"
  >
    <input
      tuiTextfield
      [placeholder]="s.focused() ? '' : 'Поиск'"
      [formControl]="searchBarInput"
      (change)="onSearchBarInputChange()"
    />
  </tui-textfield>
</div>

@if (null !== countryDropdown.value) {
  @if (null !== cities && 0 === cities.length) {
    <p [style.align-self]="'center'">Информации о городах данной страны нет</p>
  } @else {
    <app-cities-table [cities]="cities!"></app-cities-table>
    <tui-pagination
      [index]="0"
      [length]="pageCount"
      (indexChange)="onPageClick($event)"
      [style.margin-top]="'15px'"
      [style.align-self]="'start'"
    />
  }
}

