:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

:host > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

app-cities-table {
  min-height: 264px;
}

