<ng-container *transloco="let t">
  <div>
    <tui-textfield tuiChevron
                   tuiTextfieldSize="s"
                   [style.width]="'250px'"
    >
      <input
        placeholder="{{ t('search.countries.placeholder') }}"
        tuiComboBox
        [formControl]="countryDropdownDisplayValue"
        (input)="onDropdownInputChange($any($event.target).value)"
      />

      <tui-data-list-wrapper
        *tuiTextfieldDropdown
        new
        [emptyContent]="null === countries ? t('search.in-progress') : t('search.no-results')"
        [items]="null === countries ? null : Array.from(countries().keys())"
      />
    </tui-textfield>

    <tui-textfield
      #s
      iconStart="@tui.search"
      tuiTextfieldSize="s"
      [style.width]="'225px'"
    >
      <input
        tuiTextfield
        [placeholder]="s.focused() ? '' : t('search.placeholder')"
        [formControl]="this.searchFormControl"
      />
    </tui-textfield>
  </div>

  @if ('' !== this.countryWikiId()) {
    <app-cities-table [searchParameters]="this.searchFormControl.value ?? ''"
                      [countryWikiIdParameter]="this.countryWikiId()"
    />
    <app-pagination/>
  }
</ng-container>
