<ng-container *transloco="let t">
  <div class="cities-container">
    <div class="container">
      <tui-textfield
        class="input-field-width"
        tuiChevron
        tuiTextfieldSize="s"
      >
        <input
          placeholder="{{ t('search.countries.placeholder') }}"
          tuiComboBox
          [formControl]="countryDropdownDisplayValue"
          (input)="onDropdownInputChange($any($event.target).value)"
        />

        <tui-data-list-wrapper
          *tuiTextfieldDropdown
          new
          [emptyContent]="null === countries ? t('search.in-progress') : t('search.no-results')"
          [items]="null === countries ? null : Array.from(countries().keys())"
        />
      </tui-textfield>

      <tui-textfield
        class="input-field-width"
        #s
        iconStart="@tui.search"
        tuiTextfieldSize="s"
      >
        <input
          tuiTextfield
          [placeholder]="s.focused() ? '' : t('search.placeholder')"
          [formControl]="searchFormControl"
        />
      </tui-textfield>
    </div>

    <div class="container-column-first-grows">
      @if ('' !== countryWikiId() && null != countryDropdownDisplayValue.value) {
        <app-cities-table
          [searchParameters]="searchFormControl.value ?? ''"
          [countryWikiIdParameter]="countryWikiId()"
        />
        <app-pagination/>

      } @else if ('' !== wikiIdParam() && undefined !== wikiIdParam()) {
        <tui-loader/>
      }
    </div>
  </div>
</ng-container>
