:host ::ng-deep [tuiButton] {
  border-radius: 100%;
  width: 24px !important;
  height: 24px;
  font-weight: bold !important;
}

:host ::ng-deep div {
  display: flex;
  align-items: center;
}

:host ::ng-deep [tuiAppearance][data-appearance=primary] {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3) !important;
}

:host {
  align-self: start;
}
