:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

app-nav-tabs {
  margin-top: 10px;
}

app-pagination {
  margin-top: 15px;
  align-self: start;
}
