<ng-container *transloco="let t">
  <div class="countries-container">
    <tui-textfield
      #s
      iconStart="@tui.search"
      tuiTextfieldSize="s"
    >
      <input
        tuiTextfield
        [placeholder]="s.focused() ? '' : t('search.placeholder')"
        [formControl]="this.searchFormControl"
      />
    </tui-textfield>

    <div class="container-column-first-grows">
      <app-countries-table [searchParameters]="this.searchFormControl.value ?? ''"/>
      <app-pagination/>
    </div>
  </div>
</ng-container>

