<tui-tabs [(activeItemIndex)]="activeItemIndex"
          [style]="{'--t-color': '#656565'}"
          [style.height]="'45px'"
>
  <button
    tuiTab
    type="button"
    (click)="onClick(options[0])"
    routerLinkActive="active"
    [routerLink]="options[0]"
    [style.font-size]="'14px'"
  >
    Страны
  </button>
  <button
    tuiTab
    type="button"
    (click)="onClick(options[1])"
    routerLinkActive="active"
    [routerLink]="options[1]"
    [style.font-size]="'14px'"
  >
    Города
  </button>
</tui-tabs>
